<table class="table table-hover" id="list">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

  <%for i in 0...@todos.length do%>
    <tr>

      
      <th scope="row">
      <%=i+1%>
      </th>

      <td><%=@todos[i].task%></td>
      <td><%=@todos[i].description%></td>
       <td>
        <% if @todos[i].status==false%>
        <a href="/complete/<%=@todos[i].id%>"><button class="btn btn-outline-success my-2 my-sm-0">Done</button></a>
        <% else%>
          <button class="btn btn-outline-danger my-2 my-sm-0" style="cursor:not-allowed">Done</button>
       <%end%>
      </td>
      <td>
      <%if @todos[i].date==Date.today %>
          Today
      <%else%>
      <%=@todos[i].date%>
      <%end%>
      </td>
      <td>
       <button class="btn btn-outline-success my-2 my-sm-0" onclick="delTask(<%=@todos[i].id%>)">Delete</button>
       </td>

    </tr>
   <%end%>
  </tbody>

<script>
 function delTask(id){
        alert("Confirm");
        window.location.href = "/delete/"+id;
    }
</script>