<nav class="navbar navbar-light bg-info">
  <span class="navbar-brand mb-0 h1">Finish It Of!!</span>
</nav>

<!-- <table class="table table-hover" id="list"> -->
  <!-- <thead>
    <tr>
      <th scope="div_col">id</th>
      <th scope="div_col">Task</th>
      <th scope="div_col">Description</th>
      <th scope="div_col">Status</th>
      <th scope="div_col">Date</th>
      <th scope="div_col">Delete</th>
    </tr>
  </thead> -->
  <!-- <tbody> -->

    <div class="grid-container">
    <% @todos.each do |i| %>
    <div class="grid-item">

      <p>S.No <%=i.id%></p>



      <p>Task <%=i.task%></p>



      <p>Description <%=i.description%></p>


      <p>Status
        <% if i.status==false%>
          <a href="/complete/<%=i.id%>"><button class="btn btn-outline-warning my-2 my-sm-0">Not Done</button></a>
          <% else%>
            <button class="btn btn-outline-primary my-2 my-sm-0" style="cursor:not-allowed">Done</button>
            <%end%>
      </p>



      <p>Due Date
        <%if i.date==Date.today %>
          Today
          <%else%>
            <%=i.date%>
              <%end%>
      </p>



      <button class="btn btn-outline-success my-2 my-sm-0" onclick="delTask(<%=i.id%>)">Delete</button>

      <hr>
    </div>
      <%end%>
      
    </div>
  <!-- </tbody> -->

  <script>
    function delTask(id) {
      alert("Confirm");
      window.location.href = "/delete/" + id;
    }
  </script>